@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
    background-color: #e5e5f7;
    opacity: 1;
    background-size: 20px 20px;
    background-image: repeating-linear-gradient(0deg, #d6d7ec, #d6d7ec 1px, #e5e5f7 1px, #e5e5f7);
}

.calculator {
    width: 300px;
    height: auto;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #7e808b;
    box-shadow: 0px 10px 10px 1px #e1e1e1;
}

.buttonsRaw {
    position: relative;
}

.appTitle {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.exitMessage {
    width: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #bec1dc;
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0px 10px 0px 0px #7487a3;
}

.operationsRaw {
    display: flex;
    background-color: blue;
    flex-direction: column;
}

.topRaw {
    display: flex;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}

.currentOperationRaw {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    height: 60px;
    overflow: hidden;
}

.currentOperationRaw p {
    margin: 0px;
}

.exit {
    width: 20px;
    height: 20px;
    background: none;
    color: #676a85;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    border: none;
    ;
}

.exit:hover {
    color: #c4c7e7;
}

.formText {
    width: 100%;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: right;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text {
    background-color: #3d405b;
    width: 300px;
    height: 75px;
    border: none;
    border-radius: 10px 10px 0px 0px;
    text-align: right;
}

.raw {
    width: 100%;
    height: 75px;
    display: flex;
}

.button {
    width: 75px;
    height: 75px;
    border-style: solid;
    border-width: 0.5px;
    font-family: Verdana;
    font-size: 24px;
    background-color: #f4f1de;
    border-color: #e3e2d8;
    font-family: 'Quicksand', sans-serif;
    color: #323441;
}

.button:hover {
    background-color: rgb(252, 252, 252);
}

.zeroButton {
    width: 150px;
    border-radius: 0px 0px 0px 10px;
}

.operationButton {
    background-color: #e07a5f;
    border-color: #e28b73;
}

.operationButton:hover {
    background-color: #e48c73;
    border-color: #e07a5f;
}

.actionButton {
    background-color: #8286a4;
    border-color: #8d91b5;
}

.actionButton:hover {
    background-color: #606278;
    border-color: #3d405b;
}

.messageBox {
    visibility: hidden;
    opacity: 0;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    color: white;
    transition: all 0.3s ease;
}

.messageBox p {
    margin: 0px;
}

.commaButton {
    border-color: #e3e2d8;
    background-color: #f4f1de;
}

.commaButton:hover {
    background-color: rgb(252, 252, 252);
    border-color: #e3e2d8; 
}

.equalButton {
    border-radius: 0px 0px 10px 0px;
    background-color: #be735e;
    border-color: #bf6951;
}